/*
 * Copyright (c) 2013, Alexander A. Mityaev <sansan@adm.ua>
 */

/dts-v1/;
/include/ "mt7620a.dtsi"

/ {
	compatible = "mtk,mt7620-soc";
	model = "NBG6503";

	memory {
		/* 64MB RAM */
	       	device_type = "memory";
		reg = < 0x80000000 0x4000000 >;
	};

	soc: SOC {
	    pbus {
		spi0 {
			flash {
				compatible = "flash,mx25l";
				spi-chipselect = <0>;
				#address-cells = <1>;
				#size-cells = <1>;

				slice@0x30000 {
	       				reg = <0x30000 0x10000>;
				        label = "config";
					read-only;
				};
			};
		};
	    };
	    ehci { status = "okay"; };
	};

	leds {
                compatible = "gpio-leds", "gpioled";

                led0 {
                        gpios = <&gpio0 0 2 0>;
                        label = "led0";
                };
        };

	aliases {
		uartlite = &uart0;
	};

	chosen {
		bootargs = "-v";
		stdin = &uart0;
		stdout = &uart0;
	};

};

